* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: #ffff;
    font-family: "Roboto", sans-serif;
}

header,
section h2 {
    font-family:'bungee', cursive;
    font-weight: normal;
}

header {
    padding: 24px 0;
    background-color: #7a1188;
    color: #ecf0f1;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.container img{
    padding: 32px;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.Selo-qualy img {
    width: 180px;
}

.Selo-qualy  li {
    display: inline;
    margin-right: 8px;
}


section .container{
    align-items: flex-start;
}

section{
        padding: 24px 0;
}

section h2{
    margin-bottom: 16px;
}

footer{
    background-color: #7a1188;
    color: #ecf0f1;
    padding: 24px 0;
}
